<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/css/forgotpassword.css" />
  </head>
  <body>
    <div class="nav-bar">
      <h1 class="logo-name">Two-Factor Auth</h1>
      <div class="left-nav">
        <button class="btn-nav">
          <a href="/register" class="link">Register</a>
        </button>
        <button class="btn-nav">
          <a href="/Login" class="link">Login</a>
        </button>
      </div>
    </div>
    <div class="wrapper">
      <% if(errorArray.length != 0){ %>
      <div class="error-div">
        <% errorArray.forEach((error) => { %>
        <ul>
          <li><%= error %></li>
        </ul>
        <% }) %>
      </div>
      <% }%> <% if(successMessage){ %>
      <div class="success">
        <p><%= successMessage %> !</p>
      </div>
      <% } %> <% if(errorMessage){ %>
      <div class="error">
        <p><%= errorMessage %> !</p>
      </div>
      <% } %>
      <div class="container">
        <h2 class="h1">Forgot Password</h2>
        <hr />
        <form action="/forgotpassword" method="post">
          <div id="div1">
            <label>Enter your Email</label>
            <input
              type="text"
              name="email"
              id="email"
              class="text-box"
              placeholder="abc@example.com"
              required
            />
          </div>
          <div id="div2">
            <label>Enter New Password</label>
            <input
              type="password"
              name="password"
              id="password"
              class="text-box"
              placeholder="New Password"
              required
            />
          </div>
          <button type="submit" id="submit-btn">Submit</button>
        </form>
      </div>
    </div>
  </body>
</html>
