<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/homePage.css" />
  </head>
  <body>
    <div class="navbar" id="navbar">
      <div class="site-name">
        <img src="/images/icons/2fa-Logo.png" class="logo" />
        <img src="images/menu-icon.png" id="menu-icon" class="menu-icon" />
      </div>
      <div class="left-items">
        <div class="nav-link">
          <a href="/" class="links">Home</a>
          <a href="/documentation" class="links">Documentation</a>
        </div>
        <div class="nav-btn">
          <button class="link-btn">
            <a href="/login" class="links">Login</a>
          </button>
          <button class="link-btn">
            <a href="/register" class="links">Register</a>
          </button>
        </div>
      </div>
      <div class="drop" id="drop">
        <div class="nav-link">
          <a href="/" class="links">Home</a>
          <a href="/documentation" class="links">Documentation</a>
        </div>
        <div class="nav-btn">
          <button class="link-btn">
            <a href="/login" class="links">Login</a>
          </button>
          <button class="link-btn">
            <a href="/register" class="links">Register</a>
          </button>
        </div>
      </div>
    </div>
    <div class="section1">
      <div class="left-section">
        <h1>
          Protect your Users within just <b style="color: #22d2cb">3 steps</b>
        </h1>
        <p class="header-text">
          Enable 2 Factor auth using otp verification via email on your site.
        </p>
        <button id="btn1">Start Now</button>
      </div>
      <div class="div-img1">
        <img src="/images/image1.svg" alt="backgrounf-img" />
      </div>
    </div>
    <div class="section2">
      <div class="left-section2">
        <h1 class="left-header">
          Enabling 2FA on your website is very easy now
        </h1>
        <p class="left-header-text">
          Give extra security to your users with 2FA. Verify your user with
          email and password first then we will send otp and verify them on your
          behalf. After successful verification we will redirect them to your
          web-page.
        </p>
        <button id="btn2">See Documentation</button>
      </div>
      <div class="right-section2">
        <div class="hex hex-div1">
          <div class="hexagon hex1">
            <div class="wrapper">
              <div class="info">
                <img src="/images/icons/icon1.png" class="hex-img" />
                <h3>Register</h3>
                <span>
                  Register & verify yourself with your email then login into
                  your account using email and password
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="hex hex-div2">
          <div class="hexagon hex2">
            <div class="wrapper">
              <div class="info">
                <img src="/images/icons/icon2.png" class="hex-img" />
                <h3>Verify Domain</h3>
                <span>
                  Save your domain and verify your ownership of that domain
                  using TXT record verification
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="hex hex-div3">
          <div class="hexagon hex3">
            <div class="wrapper">
              <div class="info">
                <img src="/images/icons/icon3.png" class="hex-img" />
                <h3>Get API-Key</h3>
                <span>
                  Generate your API-Key which is used for communication between
                  our servers and your website
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/homePage.js"></script>
  </body>
</html>
