@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  height: 100vh;
}

.nav-bar {
  background-color: #207398;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 15px;
  width: 100%;
}

.left-nav {
  display: flex;
  gap: 20px;
  align-content: center;
  justify-content: center;
}

.link {
  text-decoration: none;
  color: #207398;
}

.btn-nav {
  text-align: center;
  width: 150px;
  padding: 8px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  color: #207398;
  background-color: #eee;
  text-decoration: none;
  box-shadow: 0px 4px 10px 1px #00000033;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* padding: 25px; */
  position: fixed;
  top: 100px;
  width: 100%;
}

hr {
  margin: 20px 0px 20px 0px;
  width: 100%;
}

.error-div {
  margin: 30px 0px 25px 0px;
  padding: 10px 10px 10px 25px;
  width: 500px;
  background-color: rgba(236, 120, 120, 0.767);
  border: 2px solid rgb(190, 61, 61);
  border-radius: 7px;
}

.error {
  background-color: rgba(236, 120, 120, 0.767);
  border: 2px solid rgb(190, 61, 61);
  padding: 10px;
  border-radius: 7px;
}

.success {
  background-color: rgba(115, 223, 105, 0.767);
  border: 2px solid rgb(79, 223, 79);
  padding: 10px;
  border-radius: 7px;
}

.container {
  font-size: 24px;
  font-weight: 400;
  padding: 25px 30px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

#div1,
#div2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  width: 100%;
}

.text-box {
  padding: 5px;
  height: 35px;
  border: 1px solid rgb(177, 174, 174);
  border-radius: 7px;
  /* width: 100%; */
}

#submit-btn {
  text-align: center;
  width: 225px;
  margin-top: 10px;
  padding: 7px;
  border: none;
  border-radius: 5px;
  /* display: inline-block; */
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: #eeeeee;
  background-color: #207398;
  box-shadow: 0px 4px 10px 1px #00000033;
}
